<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQJn7vcgt_P9buQ_IrXlJq0OlRWi5s-BA</string>
	<key>GCM_SENDER_ID</key>
	<string>189095188345</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoappcleanarchitecturedemo</string>
	<key>PROJECT_ID</key>
	<string>crashoooo</string>
	<key>STORAGE_BUCKET</key>
	<string>crashoooo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189095188345:ios:cff93b3c939bbaf22041a8</string>
</dict>
</plist>