on:
  release:
    branches:
      - master
name: Test, Build and Release apk
jobs:
  build:
    name: Build APK
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '17.0.7'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.2.5'
      - run: flutter pub get
      #- run: flutter test
      - run: flutter build apk --release
      - uses: actions/upload-artifact@v1
        with:
          name: release-apk
          path: build/app/outputs/apk/release/app-release.apk